<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.properties" />
	
	<property resource="application-${spring.profiles.active}.properties" />

	<property name="FILE_LOG_PATTERN"
		value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %line - %msg%n" />
		
	<property name="LOG_PATH" value="/mpservice/tomcat/tomcat8/logs/mp-admin" scope="CONTEXT" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>${FILE_LOG_PATTERN}</Pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/mp-admin.log</file>
		<encoder>
			<Pattern>${FILE_LOG_PATTERN}</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/mp-admin.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>365</maxHistory>
		</rollingPolicy>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" /> 
	</root>
</configuration>